In [5]:
print('''Twinkle, twinkle, little star,
                 How I wonder what you are!
                         Up above the world so high,
                         Like a diamond in the sky.
Twinkle, twinkle, little star, 
        How I wonder what you are!''')

Twinkle, twinkle, little star,
                 How I wonder what you are!
                         Up above the world so high,
                         Like a diamond in the sky.
Twinkle, twinkle, little star,
        How I wonder what you are!

In [4]:
print("Twinkle, twinkle, little star, \n\t How I wonder what you are! \n\t\t Up above the world so high, \n\t\t Like a diamond in the sky. \n Twinkle, twinkle, little star, \n\t How I wonder what you are!")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are!

In [6]:
#Import the "SYS" module to get the python version infromation
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

In [8]:
#Import the "datetime" module to get the current date and time value
import datetime
currentDate = datetime.datetime.now()
print(currentDate)

2019-09-18 16:41:23.977343

In [2]:
r = float(input("Enter the Radius of Circle Value: "))
pi = 3.14  #Initiate the value of PI which is equal to 3.14
area = pi * (r ** 2) #Computing the value of Area
print(area)

Enter the Radius of Circle Value: 1.1
3.7994000000000008

In [4]:
firstName = input("Please enter the First Name: ")
lastName = input("Please enter the Last Name: ")
print(lastName +" "+ firstName)

Please enter the First Name: Usman
Please enter the Last Name: Tahir
Tahir Usman

In [36]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
print('List : ',list)

Input some comma seprated numbers : 1,2,3,4,5
List :  ['1', '2', '3', '4', '5']

In [35]:
values = input("Input some comma seprated numbers : ")
tupl = tuple(values.split(","))
print('Tuple : ',tupl)

Input some comma seprated numbers : 1,2,3,4,5

TypeError: 'list' object is not callable

In [37]:
import socket
hostName = socket.gethostname()
ipAddress = socket.gethostbyname(hostName)
print(ipAddress)

192.168.10.9

In [39]:
n = 20
d = {"x":200}
print(type(n))
print(type(d))

<class 'int'>
<class 'dict'>

In [40]:
n = 20
d = {"x":200}
print(type(n)())
print(type(d)())

0
{}

In [56]:
import sys, platform

print("Platform Name:")
print(sys.platform +"\n")

print("Platform Release:")
print(platform.release() +"\n")

print("Platform Version:")
print(platform.version() +"\n")

Platform Name:
win32

Platform Release:
10

Platform Version:
10.0.17134

In [94]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527]

for x in numbers:
    if x % 2 == 0:
        print(x)

386
462
418
344
236
566
978
328
162
758
918
412
566
826
248
866
950
626
104
58
512
24
892
894
742
958